body {
	font: 14px Helvetica, Arial, sans-serif; 
	background: #f3f3f3; 
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
	text-rendering: optimizeLegibility; 
	-webkit-font-smoothing: antialiased; 
	-webkit-user-select: auto !important;
}

.app { 
	height:100%;
    /* This sets the containing element up to use a box layout */
	display: -webkit-box;
    /* We want to layout our first container vertically */
    -webkit-box-orient: vertical;
    /* we want our child elements to stretch to fit the container */
	-webkit-box-align:stretch;
}

input, textarea{
	font-family:Helvetica, Arial, sans-serif;
}
input:focus, textarea:focus{
	background-color: lightyellow;
	outline:none;
}

/* ///////////////////////////////////////////////////////////////////              Topline */
.topline {
	height:35px;


	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DF3427), to(#FDD131)); 
} 

.logo {
	width:200px;
	height:35px;
	position: fixed;
	margin-top: 3px;
	margin-left:15px;
	background: url("/img/logo_sm.png") no-repeat; 
}

.BrowserContainer2 {
	position: absolute;
	float: right;
	right:420px;
	width:90px;
	height:20px;
	margin-top:8px;
	padding-right:10px;
	border-right:1px dotted #fff;
}
.BProfile img, .BSettings img, .BSwitchLogin img{
	cursor:pointer;
	height:20px;
	width:20px;
	margin-right:5px;
	float:right;
}
.BProfile img:hover, .BSettings img:hover, .BSwitchLogin img:hover{
	opacity:.8;
}
.selectors {
	right:275px;
}
.selectors2 {
	right:235px;
}
.selectors, .selectors2 {
	position: absolute;
	float: right;
	margin-top:8px;
	margin-right:10px;
	padding-right:10px;
	border-right:1px dotted #fff;
}
.selectors span{
	color:#fff;
	text-shadow: 1px 1px 1px #000;
	font-weight:bold;
	font-size:12px;
	margin-top:4px;
	margin-right:10px;
	padding-left:0px;
	float:left;
}
.selectors img, .selectors2 img{
	cursor:pointer;
}
.selectors img:hover, .selectors2 img:hover{
	opacity:.8;
}

.Filter {
	position: absolute;
	float: right;
	padding-top: 0px;
	width:210px;
	right:20px;
	top:3px;
}

.FltrInput {
	color: #616161;
	border:none;
	width: 180px;
	background-color: #fff;
	margin-top:5px;
	padding:3px;
	float: left;
	-webkit-border-radius: 3px;
}

#search_button{
	float:right;
	margin-top:5px;
}


/* ///////////////////////////////////////////////////////////////////              Topline2 */
	
.topline2{
	height:50px;
    background-color: #FDD131;
    border-top:1px solid black;
    border-bottom:1px solid #2d72d0;
}

.BrowserContainer {
	height: 50px;
	width:250px;
	position:fixed;
	left:2px;
}

.BHome img, .BTimeline img, .BPrivat img{
	width:50px;
	height:50px;
	float:left;
	margin: 0;
	overflow: hidden;
	margin-right:2px; padding-right:2px;margin-left:2px;
}
.update_button {
	width:50px;
	height:50px;
}

.writemessage{
	position: fixed;
	float:left;
	left:260px;
	padding-top: 3px;
	width:650px;
}
.inputfile{
	float: right;
	padding-top: 3px;
	display:block;
	position:absolute;
	right:-250px;
	top:5px;
}

#description{
	color:#595959;
}
.writemessage textarea{
	position: relative;
	float: left;
	padding: 3px;
	padding-right: 25px;
	margin-top:2px;
	font-size: 13px;
	width: 540px;
	height: 40px; 
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border: 1px solid #fff;
	border-right:none;
	color: #212121;
}
#countdown {
	position: absolute;
	font-size:10px;
	right:115px;
	bottom:50px;
	color: #gray;
	
}

#display_filename{
	margin-left:850px;
	font-size:14px;
	padding-top:19px;
}

#clip_button {
	position: absolute;
	right:115px;
	top:10px;
	z-index: 150;
	cursor:pointer;
}
.writemessage span {
	background-color:#f1f1f1;
	color:#fff;
}
/* ///////////////////////////////////////////////////////////////////              Screens */
#screenmain{
	margin-bottom:30px;
}
.screen{
	-webkit-box-flex:1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align:stretch;
	-webkit-transition: margin 0.5s ease-in-out;
/*	margin-left: auto;
    margin-right: auto;*/
	-webkit-transform: translateZ(0);
	overflow: hidden;

}	
#screen_right, #screen_left, #screen_bottom {
	height:100%;
	background: #f1f1f1;
	top:0px;
	padding:30px;
	position:absolute;
	display: none;
	color:#5b5b5b;
	border-left:5px solid #353535;
	overflow-y: auto;
	overflow-x: hidden;
}
#screen_right h2, #screen_left h2, #screen_bottom h2{
	margin:0;
	margin-bottom:20px;
	padding:0;
	color:#5b5b5b;
}
fieldset {  border: 1px solid #d0cec8;  padding: 5px; margin-bottom:20px; background-color:#fff;-webkit-border-radius: 3px;}
legend {  font-weight: bold;  color: #5b5b5b;  padding: 4px 10px; font-size:12px;background-color:#fff;border: 1px solid #d0cec8;-webkit-border-radius: 3px;}
.button {background-color: #5093ee;border:1px solid #3e81db;-webkit-border-radius: 3px; padding: 6px 10px; color:#fff; font-weight:bold;}
.button:hover {background-color:#3e81db;}
.text-field {background-color:#fff; border: 1px solid #d0cec8; -webkit-border-radius: 3px; padding:2px 5px;}
#screen_right{
	left:1500px; /* this declaration makes the .container understand where the floated columns within ends and contain them */
	z-index: 150;
}
#screen_left{
	left:-1500px; /* this declaration makes the .container understand where the floated columns within ends and contain them */
	z-index: 150;
}

#screen_bottom{
	margin-left: auto;
	margin-right: auto;
	top:2000px;
	left: 0;
	right: 0;
	z-index:300;
}

.content2 {
	display: -webkit-box;
}

/* ///////////////////////////////////////////////////////////////////              Sidebar */
.navigation{
	width:250px;
	background:yellow;
	border-right:1px solid #d0cec8;
	
}

.navigation a { 
	text-decoration: none; 
	color: #595959;
}

.navigation a:hover {
	color: #212121;
}

#following_block, #follower_block, #trend_block{
	width:100%; 
}
.sidetitle{
	height:32px;
	line-height:32px;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	padding-left:15px;
	background-color: #5B8ECA;
	border-bottom:1px solid #f9f9f9;
	-webkit-box-shadow: inset 0px -1px #e5dfdf;
/*	text-shadow: 0px 1px 1px #fff; */
}
#following_container {
background-color: #A0CF6E;
	max-height:40%;
}
#followers_container {
	max-height:18%;
	background-color: #A0CF6E;
}
#trends_container {
	height:22%;
	background-color: #A0CF6E;
}
#following_block, #follower_block, #trend_block{
	border-bottom:1px solid #f9f9f9;
	-webkit-box-shadow: inset 0px -1px #e5dfdf;
}

#following_container, #followers_container, #trends_container{
	margin:4px 0;
	width:245px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size:12px;
	color: #595959;
	font-weight:normal;
}

#following_container li, #followers_container li, #trends_container li{
	font-size:12px;
	list-style-type:none;
	height:24px;
	line-height:24px;
	color:#595959;
}

#following_container li a, #followers_container li a, #trends_container li a{
	padding-left:25px;
}

#following_container p, #followers_container p, #trends_container p{
	margin:0;
	padding:0;
	font-size:12px;
	list-style-type:none;
	height:24px;
	line-height:24px;
	padding-left:15px;
	color:#595959;
}

/*Veritweet Channels*/

#demouser_menu{
	border-bottom:1px solid #f9f9f9;
	-webkit-box-shadow: inset 0px -1px #e5dfdf;
}

#demouser_menu {
	margin:4px 0;
	width:245px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size:12px;
	color: #595959;
	font-weight:normal;
	-webkit-padding-start: 0px
}


#demouser_menu li{
	list-style-type:none;
	font-size:12px;	
	color:#595959;	
	line-height:24px;
}
.topnode :hover{
		font-weight:bolder;
}

#demouser_menu li a{
	padding-left:25px;
}

#demouser_menu p{
	margin:0;
	padding:0;
	font-size:12px;
	list-style-type:none;
	height:24px;
	line-height:24px;
	padding-left:15px;
	color:#595959;
}

/*login buttoni*/
#login_but{
padding: 10px;
margin:5px;
	-webkit-border-radius: 3px;
	background-color: #5093EE;
border: 1px solid #3E81DB;
}

#login_but:hover{
background: #3E81DB;
}

#login_but:active{
margin-top: 10px;
}

/*Trendi*/
#trends_container {
	width:225px;
	padding-left:20px;
}
#trends_container a {
	height:20px;
	line-height:20px;
	float:left;
	color: white;
}
.trenditem {
	padding:2px 6px;
	margin:2px;
	background-color:#D43327;
	border:1px solid #d0cec8;
	-webkit-border-radius: 4px;
}





.iframe {
	text-decoration: none; 
	color: #3e81db;
	}
	
.iframe:hover {
	text-decoration: underline;
}	

.twitter-anywhere-user {
	text-decoration: none; 
	color: #3e81db;
}

/*****************************
 * UPDATE
 *****************************/
#newMsgCount{
	height:30px;
	line-height:30px;
	position:relative;
	overflow:hidden;
	text-align:center;
	border: 1px solid #dfddd9;
	background: #fff;
	margin:10px;
	-webkit-box-flex:1;
	-webkit-box-orient: horizontal;
	-webkit-border-radius: 3px;
}
#newMsgCount:hover{
	background: #f1f1f1;
}
#newMsgCount a{
	text-decoration:none;
	color:#5093ee;
}


/*****************************
 * FOOTER
 *****************************/
#tiui_footer{
	line-height:30px;
	height:30px;
	width:100%;
	border-top:1px solid #d0cec8;
        z-index:300;
        position:absolute;
        bottom:0px;
        background:#e6e3dd;
        color:#696969;
        font-size:12px;
        vertical-align:middle;

}
body.win32 #tiui_footer, body.linux #tiui_footer
{
	background-color:#969696;
}

.tiui_message_bar {
text-align: right;
padding-right: 170px;
text-decoration: none; 
color: #696969;
font-size:12px;
}

.tiui_message_bar a{
text-decoration: none; 
color: #696969;

}

.tiui_message_bar a:hover{
text-decoration: underline; 
color: #666;

}


/*****************************
 * BOTTOM DRAWER BUTTONS
 *****************************/
#tiui_drawer_button_hide
{
	position:fixed;
	left:10px;
	bottom:4px;
}

#tiui_drawer_button_show
{
	position:fixed;
	left:10px;
	bottom:4px;
	display:none;
}

/*****************************
 * BOTTOM LOGOUT BUTTONS/TEXT
 *****************************/
#tiui_statusbar
{
	position:fixed;
	bottom:4px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	right:30px;
	clear:both;
	font-size:11px;
/*	text-shadow: 0px 1px 1px #aaa; */
	width:115px;
	background-color:#151515;
	height:20px;
	border-bottom:1px solid #ccc;
	text-align:center;
}
#tiui_statusbar img
{
	margin-left:5px;
	position:relative;
	top:2px;
}


/********************************
 * Grey Push Button
 ********************************/
.tiui-button.grey
{
	background:url(../images/grey_button.png) repeat-x ;
	height:19px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border:1px solid #7f7f7f;
	text-align:center;
	font-size:12px;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
	color:#222;
}
.tiui-button.grey.active
{
	background:url(../images/grey_button_pressed.png) repeat-x;
	height:19px;
	border:1px solid #7f7f7f;
		
}

.tiui-button.grey.disabled
{
	opacity:0.5;
}

/********************************
 * Grey Button Tab
 ********************************/
.tiui-button-tab.left
{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	
}
.tiui-button-tab.right
{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-right:1px solid #424241;
	
}
.tiui-button-tab
{
	background:url(../images/grey_button.png) repeat-x;
	height:19px;
	width:30px;
	border-top:1px solid #424141;
	border-bottom:1px solid #424141;
	border-left:1px solid #424141;
	line-height:19px;
	text-align:center;
	float:left;
	cursor:pointer;
}
.tiui-button-tab.active
{
	background:url(../images/grey_button_active.png) repeat-x;
	color:white;
}
.tiui-button-tab.pressed
{
	background:url(../images/grey_button_pressed.png) repeat-x;
	height:19px;	
}

.tiui-button-tab-container
{
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	height:21px;
	border-bottom:1px solid #cacaca;
}
.tiui-button-tab-title
{
	text-align:center;
	height:12px;
	clear:both;
	font-size:11px;
/*	text-shadow: 0px 1px 1px #aaa; */
	line-height:16px
}
/********************************
 * Secondary Tab Bar
 ********************************/
.tiui-secondary-tabbar
{
	height:21px;
	background:url(../images/secondary_tab_bg.png) repeat-x;
	border-bottom:1px solid #404040;
}
.tiui-secondary-tabbar .tab
{
	height:21px;
	background:url(../images/secondary_tab.png) repeat-x;
	text-align:center;
	width:120px;
	font-size:11px;
	color:#000;
	line-height:22px;
	float:left;
	border-left:1px solid #656565;
	position:relative;
	z-index:2;
	cursor:pointer;
}
.tiui-secondary-tabbar .tab:hover, .tiui-secondary-tabbar .tab.active
{
	background:url(../images/secondary_tab_active.png) repeat-x;	
}
.tiui-secondary-tabbar .tab.right
{
	border-right:1px solid #656565;
}
/********************************
 * Content Tab Bar - Black
 ********************************/
.tiui-content-tabbar
{
	position:relative;
}
.tiui-content-tabbar.black
{
	height:30px;
	background:url(../images/content_tab_black_bg.png) repeat-x;
	line-height:30px;
	z-index:2;
}
.tiui-content-tabbar .search
{
	position:absolute;
	display:none;
	top:2px;
	left:10px;
}
.tiui-content-tabbar.black .tab
{
	background:url(../images/content_tab_black.png) repeat-x;
	height:20px;
	border:1px solid #000;
	border-right:none;
	float:left;
	width:100px;
	color:white;
	font-size:11px;
	line-height:20px;
	position:relative;
	top:4px;
	text-align:center;
	cursor:pointer;

}
.tiui-content-tabbar.black .tab.active, .tiui-content-tabbar.black .tab:hover
{
	background:url(../images/content_tab_black_active.png) repeat-x;
}
.tiui-content-tabbar.black .tab.right
{
	border-right:1px solid #161616;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	
}

.tiui-content-tabbar.black .tab.left
{
	border-left:1px solid #161616;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	
}

::-webkit-scrollbar {
    height: 10px;  
    width: 10px;  

}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 10px;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
width: 20px; 
	background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
	background-color: #ccc;
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #C0C0C0;
	border: 1px #B2B2B2 solid;
    -webkit-border-radius: 7px;
}

#preview_link_iframe{
border:1px;
}

#content3{
width:620px;
height:420px;
border:1px;
}

a {outline:none;